<!-- Page Content -->
<div class="content container-fluid">

   <!-- Page Header -->
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">{{'Interview' | translate}}</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">{{'Dashboard' | translate}}</a></li>
               <li class="breadcrumb-item active">{{'Manage workflow' | translate }}</li>
            </ul>
         </div>

         <div *ngIf="firstData.length==0" class="col-auto float-right ml-auto">
            <a class="btn add-btn" (click)="showAddWorkflow()"><i class="fa fa-plus"></i>
               {{'add Workflow' | translate}}</a>
         </div>
         <div *ngIf="firstData.length!=0" (click)="showAddWorkflow()" class="col-auto float-right ml-auto">
            <a class="btn add-btn" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i>
               {{'Edit Workflow' | translate}}</a>
         </div>

      </div>

      <div class="row mt-3">
         <h4 class="section-title ml-3">{{'Offer title' | translate}} : <u><em class="font-weight-normal">{{offer?.title}}</em></u></h4>
      </div>
   </div>
   <!-- /Page Header -->

   <!-- Main page -->
   <div *ngIf="showMainPage" class="col-md-12 ">
      <div class="card">
         <div class="card-body">
            <div class="table-responsive">
               <table class="table table-striped mb-0">
                  <thead class="head-table">
                     <tr>
                        <th>{{'Interview' | translate}}</th>
                        <th>{{'Interview title' | translate}}</th>
                        <th>{{'Evaluator name' | translate}}</th>
                     </tr>
                  </thead>
                  <tbody>                    
                     <tr *ngFor="let item of workflows; let i=index">
                        <td>Entretien {{i+1}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.evaluatorName}}</td>
                     </tr>
                  </tbody>
               </table>
               <p class="msg" *ngIf="workflows.length==0"> {{"No data exists click on Add workflow to add your workflow" | translate }}  </p>
            </div>
         </div>
      </div>
   </div>
   <!-- /Main page -->

   <!-- add workflow page -->
   <div *ngIf="showAddWorkFlow" class="card mb-0">
      <div class="card-header">
         <h4 class="card-title my-1 d-inline-block">{{'Add Workflow' | translate}}</h4>
         <a id="buttonAdd" class="btn btn-primary add-interview d-inline-block" placement="top"
            ngbTooltip="Ajouter un entretien" (click)="addInterviewItem()">
            <i class="fa fa-plus"></i>
         </a>
      </div>
      <div class="card-body">

         <form #workflowForm="ngForm" (ngSubmit)="addOrEditWorkflow()">
            <div *ngFor="let interview of workflows; let i=index" class="row">
               <div class="col-md-5">
                  <div class="form-group">
                     <label class="font-weight-bold">{{'Interview title' | translate}} : <span class="text-danger">*</span> </label>
                     <input type="text" class="form-control" placeholder="titre d'entretien" name="title{{i}}"
                         [(ngModel)]="interview.title" #title="ngModel" required >
                  </div>
                  <div class="error" *ngIf="title.errors && (title.dirty || title.touched)">
                     <div [hidden]="!title.errors.required">
                        <small class="text-danger"> *{{'Title is required' | translate}} !</small>
                     </div>
                  </div>
               </div>

               <div class="form-group col-md-5">
                  <label class="font-weight-bold">{{'Interview evaluator' | translate}} : <span class="text-danger">*</span> </label>
                  <select class="select form-control" name="evaluatorId{{i}}" [(ngModel)]="interview.evaluatorId" #evaluator="ngModel" required>
                     <option *ngFor="let user of allUsers" value="{{user.id }}">{{user.firstName}} {{user.lastName}}
                     </option>
                  </select>
                  <div *ngIf="evaluator.errors && (evaluator.dirty || evaluator.touched)">
                     <div [hidden]="!evaluator.errors.required">
                        <small class="text-danger"> *{{'Evaluator is required' | translate}} !</small>
                     </div>
                  </div>
               </div>

               <div (click)="removeInterviewItem(interview)" class="col-md-2">
                  <i class="la la-trash-alt delete-item"></i>
               </div>
            </div>
            <div class="text-right mt-5">
               <button type="submit" [disabled]="!workflowForm.form.valid" class="btn btn-primary">{{'Save' | translate}}</button>
           </div>
         </form>
      </div>
   </div>
   <!-- /add workflow page -->



</div>
<!-- /Page Content -->