<!-- Page Content -->
<div class="content container-fluid" >
  
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">{{'Welcome' | translate}} !</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">{{'Entreprise Home' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
</div>
  