<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">{{'Offer Details' | translate}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="entreprise/dashboard">{{'Dashboard' | translate}}</a></li>
                    <li class="breadcrumb-item"><a routerLink="/entreprise/hr/offers">{{'Offers' | translate}}</a></li>
                    <li class="breadcrumb-item active">{{'Offer Details' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-8">
            <div class="job-info job-widget">
                <h3 class="job-title">{{offer.title}}</h3>
                <span class="job-dept">{{offer.domaine}}</span>
                <ul class="job-post-det">
                    <li><i class="fa fa-calendar"></i> {{'Post Date' | translate}}: <span class="text-blue">{{offer.createdDate | date: 'MMM d, y'}}</span></li>
                    <li><i class="fa fa-calendar"></i> {{'Last Date' | translate}}: <span class="text-blue">{{offer.expiredDate | date: 'MMM d, y'}}</span></li>
                    <li><i class="fa fa-user-o"></i> {{'Applications' | translate}}: <span class="text-blue">4</span></li>
                    <li><i class="fa fa-comment-o"></i> {{'Status' | translate}}: <span class="text-blue">{{offer.status}}</span></li>
                </ul>
            </div>
            <div class="job-content job-widget">
                <div class="job-desc-title">
                    <h4>{{'Offer Description' | translate}}</h4>
                </div>
                <div class="job-description">
                    <p>{{offer.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="job-det-info job-widget">
                <a class="btn job-btn" routerLink="/entreprise/hr/offers">{{'Back to Offers' | translate}}</a>
                <div class="info-list">
                    <span><i class="fa fa-bar-chart"></i></span>
                    <h5>{{'Offer Type' | translate}}</h5>
                    <p> {{offer.type}}</p>
                </div>
                <div class="info-list">
                    <span><i class="fa fa-money"></i></span>
                    <h5>{{'Salary' | translate}}</h5>
                    <p>{{offer.salaryFrom}} Dh - {{offer.salaryTo}} Dh </p>
                </div>
                <div class="info-list">
                    <span><i class="fa fa-suitcase"></i></span>
                    <h5>{{'Experience' | translate}}</h5>
                    <p>{{offer.experience}} Years</p>
                </div>
                <div class="info-list">
                    <span><i class="fa fa-calendar"></i></span>
                    <h5>{{'Start Date' | translate}}</h5>
                    <p>{{offer.startDate | date: 'MMM d, y'}}</p>
                </div>
                <div class="info-list">
                    <span><i class="fa fa-map-signs"></i></span>
                    <h5>{{'Location' | translate}}</h5>
                    <p> {{offer.address}},
                        <br> {{offer.country}},
                        <br> {{offer.city}}, {{offer.postalCode}}</p>
                </div>
                <div class="info-list text-center">
                    <a class="app-ends" >{{'Application ends' | translate}} {{offer.expiredDate | date: 'MMM d, y'}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
