<nav class="navbar navbar-expand-sm navbar-dark sticky-top bg-dark p-0 shadow">
    <!-- Brand -->
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" [routerLink]="['/home']">
      <img class="pic-1" src="assets/images/logo.png" width="200px" height="45px">
    </a>
  
    <!-- Links -->
    <ul class="navbar-nav" style="margin-left: 20px;">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-right: 20px;">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </nav>