<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <div class="container">

            <div class="account-box" *ngIf="this.entrepriseForm">
                <div class="account-wrapper">
                    <h3 class="account-title">Register</h3>
                    <p class="account-subtitle">Entreprise Informations</p>

                    <!-- Entreprise Form -->
                    <form #signupForm=ngForm >
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" name="name" class="form-control" id="name" [(ngModel)]="entreprise.name" #name="ngModel" required>
                            <div *ngIf="name.errors && (name.dirty || name.touched)">
                                <div [hidden]="!name.errors.required">
                                    <small class="text-danger"> *Company Name is required !</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="entr_email" class="form-control" id="entr_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="entreprise.email" #entr_email="ngModel" required>
                            <div *ngIf="entr_email.errors && (entr_email.dirty || entr_email.touched)"> 
                                <div [hidden]="!entr_email.errors?.pattern">
                                    <small class="text-danger"> *Invalid Email !</small>
                                </div>
                                <div [hidden]="!entr_email.errors.required">
                                    <small class="text-danger"> *Email is required !</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Phone number</label>
                            <input type="text" name="tel" class="form-control" id="tel" pattern="(\+212|0)([ \-_/]*)(\d[ \-_/]*){9}" [(ngModel)]="entreprise.phone" #tel="ngModel" required>
                            <div *ngIf="tel.errors && (tel.dirty || tel.touched)">
                                <div [hidden]="!tel.errors?.pattern">
                                    <small class="text-danger"> *Invalid Phone Number !</small>
                                </div>
                                <div [hidden]="!tel.errors.required">
                                    <small class="text-danger"> *Phone Number is required !</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" name="country" class="form-control" id="country" [(ngModel)]="entreprise.country" #country="ngModel">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" name="description" class="form-control" id="description" [(ngModel)]="entreprise.description" #description="ngModel"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" (click)="next()" [disabled]="!signupForm.valid">Next</button>
                        </div>
                        <div class="account-footer">
                            <p>Already have an account? <a href="javascript:" (click)="onLogin()">Login</a></p>
                        </div>
                    </form>
                    <!-- /Entreprise Form -->
                </div>
            </div>

            <div class="account-box" *ngIf="this.adminForm">
                <div class="account-wrapper">
                    <h3 class="account-title">Register</h3>
                    <p class="account-subtitle">Admin Informations</p>

                    <!-- Admin Form -->
                    <form #signupForm=ngForm (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>UserName</label>
                            <input type="text" name="username" class="form-control" id="username" [(ngModel)]="user.username" #username="ngModel" required>
                            <div *ngIf="username.errors && (username.dirty || username.touched)">
                                <div [hidden]="!username.errors.required">
                                    <small class="text-danger"> *UserName is required !</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" id="email" readonly  [(ngModel)]="entreprise.email" #email="ngModel">
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="firstName" class="form-control" id="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required>
                            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                                <div [hidden]="!firstName.errors.required">
                                    <small class="text-danger"> *First Name is required !</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lastName" class="form-control" id="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required>
                            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                                <div [hidden]="!lastName.errors.required">
                                    <small class="text-danger"> *Last Name is required !</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" id="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" [(ngModel)]="user.password" #password="ngModel" required>
                            <div *ngIf="password.errors && (password.dirty || password.touched)">
                                <div [hidden]="!password.errors?.pattern">
                                    <small class="text-danger"> *Invalid Password !! <br> *UpperCase, LowerCase, Number/SpecialChar and min 8 Chars </small>
                                </div>
                                <div [hidden]="!password.errors.required">
                                    <small class="text-danger"> *Password is required !</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password </label>
                            <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" [(ngModel)]="form.password_confirmation" #password_confirmation="ngModel" required>
                            <div *ngIf="password_confirmation.errors && (password_confirmation.dirty || password_confirmation.touched)">
                                <div [hidden]="!password_confirmation.errors?.pattern">
                                    <small class="text-danger"> *Invalid Password !! <br> *UpperCase, LowerCase, Number/SpecialChar and min 8 Chars </small>
                                </div>
                                <div [hidden]="!password_confirmation.errors.required">
                                    <small class="text-danger"> *Password Confirmation is required !</small>
                                </div>
                            </div>
                            <div *ngIf="password_confirmation.touched && form.password_confirmation != null && user.password != form.password_confirmation">
                                    <small class="text-danger"> *The password confirmation does not match !!</small>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit" [disabled]="!signupForm.valid || user.password != form.password_confirmation">Register</button>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" (click)="back()">Back</button>
                        </div>
                    </form>
                    <!-- /Admin Form -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Main Wrapper -->