<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{'Offers' | translate}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="entreptise/Dashboard">{{'Dashboard' | translate}}</a></li>
                    <li class="breadcrumb-item active">{{'offers' | translate}}</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" data-toggle="modal" data-target="#add_offer"><i class="fa fa-plus"></i>
                    {{'Add Offer' | translate}}</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchTitle($event.target.value)">
                <label class="focus-label">{{'Title' | translate}}</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="searchDomain($event.target.value)">
                    <option value = ""> -- Select -- </option>
                    <option *ngFor="let D of domains" value="{{D.value}}">{{D.label}}</option>
                </select>
                <label class="focus-label">{{'Domain' | translate}}</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="number" class="form-control floating" (input)="searchMinExp($event.target.value)">
                <label class="focus-label">Min Exp</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchCity($event.target.value)">
                <label class="focus-label">{{'City' | translate}}</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="searchType($event.target.value)">
                    <option value = ""> -- Select -- </option>
                    <option *ngFor="let T of types" value="{{T.value}}">{{T.label}}</option>
                </select>
                <label class="focus-label">{{'Type' | translate}}</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="searchStatus($event.target.value)">
                    <option value = ""> -- Select -- </option>
                    <option *ngFor="let S of statusList" value="{{S.value}}">{{S.label}}</option>
                </select>
                <label class="focus-label">{{'Status' | translate}}</label>
            </div>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id = "datatable" class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{'Title' | translate}}</th>
                            <th>{{'Domain' | translate}}</th>
                            <th>{{'Experience' | translate}}</th>
                            <th>{{'City' | translate}}</th>
                            <th>{{'Expire Date' | translate}}</th>
                            <th class="text-center">{{'Type' | translate}}</th>
                            <th class="text-center">{{'Status' | translate}}</th>
                            <th class="text-right">{{'Actions' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of allOffers;let i = index">
                            <td>{{i+1}}</td>
                            <td><a routerLink = "/entreprise/hr/offer-details/{{offer.id}}">{{offer.title}}</a></td>
                            <td>{{offer.domaine}}</td>
                            <td>{{offer.experience}}</td>
                            <td>{{offer.city}}</td>
                            <td>{{offer.expiredDate | date: 'MMM d, y'}}</td>
                            <td class="text-center">
                                <div class="dropdown action-label" *ngIf="offer.type === 'fullTime'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-info"></i> Full Time
                                    </a>
                                </div>
                                <div class="dropdown action-label" *ngIf="offer.type === 'partTime'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-success"></i> Part Time
                                    </a>
                                </div>
                                <div class="dropdown action-label" *ngIf="offer.type === 'intership'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-danger"></i> Internship
                                    </a>
                                </div>
                                <div class="dropdown action-label" *ngIf="offer.type === 'temporary'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-warning"></i> Temporary
                                    </a>
                                </div>
                                <div class="dropdown action-label" *ngIf="offer.type === 'remote'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-primary"></i> Remote
                                    </a>
                                </div>
                                <div class="dropdown action-label" *ngIf="offer.type === 'other'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-dark"></i> Other
                                    </a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="dropdown action-label" *ngIf="offer.status === 'open'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-success"></i> Open
                                    </a>
                                </div>
                                <div class="dropdown action-label" *ngIf="offer.status === 'closed'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-danger"></i> Closed
                                    </a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a  class="dropdown-item" routerLink = "/entreprise/hr/offer-details/{{offer.id}}"><i
                                            class="fa fa-eye m-r-5"></i> Details</a>
                                        <a  class="dropdown-item" href="javascript:" data-toggle="modal" data-target="#edit_offer" (click)="edit(offer.id)"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a  class="dropdown-item" href="javascript:" data-toggle="modal"
                                            data-target="#delete_offer" (click)="tempId = offer.id"><i class="fa fa-trash-o m-r-5"></i> Delete</a> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Offer Modal -->
<div id="add_offer" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'Add Offer' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addOfferForm="ngForm" (submit)="addOffer()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Title' | translate}}</label>
                                <input type="text" class="form-control" name="title" required  [(ngModel)]="offer.title" #title="ngModel" >
                                <div *ngIf="title.errors && (title.dirty || title.touched)">
                                    <div [hidden]="!title.errors.required">
                                        <small class="text-danger"> *{{'Title is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Domain' | translate}}</label>
                                <select class="form-control" name="domain" required [(ngModel)]="offer.domaine" #domain="ngModel">
                                    <option *ngFor="let D of domains" value="{{D.value}}">{{D.label}}</option>
                                </select>
                                <div *ngIf="domain.errors && (domain.dirty || domain.touched)">
                                    <div [hidden]="!domain.errors.required">
                                        <small class="text-danger"> *{{'Domain is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Country' | translate}}</label>
                                <input type="text" class="form-control" name="country"  [(ngModel)]="offer.country" #country="ngModel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'City' | translate}}</label>
                                <input type="text" class="form-control" name="city"  [(ngModel)]="offer.city" #city="ngModel" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Address' | translate}}</label>
                                <input type="text" class="form-control" name="address"  [(ngModel)]="offer.address" #address="ngModel" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Postal Code' | translate}}</label>
                                <input type="text" class="form-control" name="postalCode"  [(ngModel)]="offer.postalCode" #postalCode="ngModel" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Salary From' | translate}}</label>
                                <input type="number" class="form-control" name="salaryFrom"  [(ngModel)]="offer.salaryFrom" #salaryFrom="ngModel" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Salary To' | translate}}</label>
                                <input type="number" class="form-control" name="salaryTo"  [(ngModel)]="offer.salaryTo" #salaryTo="ngModel" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Type' | translate}}</label>
                                <select class="form-control" name="type" required [(ngModel)]="offer.type" #type="ngModel">
                                    <option *ngFor="let T of types" value="{{T.value}}">{{T.label}}</option>
                                </select>
                                <div *ngIf="type.errors && (type.dirty || type.touched)">
                                    <div [hidden]="!type.errors.required">
                                        <small class="text-danger"> *{{'Type is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Status' | translate}}</label>
                                <select class="form-control" name="status" required [(ngModel)]="offer.status" #status="ngModel">
                                    <option *ngFor="let S of statusList" value="{{S.value}}">{{S.label}}</option>
                                </select>
                                <div *ngIf="status.errors && (status.dirty || status.touched)">
                                    <div [hidden]="!status.errors.required">
                                        <small class="text-danger"> *{{'Status is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Start Date' | translate}}</label>
                                <input type="text" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" name="startDate" required [(ngModel)]="offer.startDate" #startDate="ngModel" autocomplete="off">
                                <div *ngIf="startDate.errors && (startDate.dirty || startDate.touched)">
                                    <div [hidden]="!startDate.errors.required">
                                        <small class="text-danger"> *{{'Start Date is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Expired Date' | translate}}</label>
                                <input type="text" class="form-control datetimepicker" bsDatepicker type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" name="expiredDate" required [(ngModel)]="offer.expiredDate" #expiredDate="ngModel" autocomplete="off">
                                <div *ngIf="expiredDate.errors && (expiredDate.dirty || expiredDate.touched)">
                                    <div [hidden]="!expiredDate.errors.required">
                                        <small class="text-danger"> *{{'Expired Date is required' | translate}}  !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Experience (years)' | translate}}</label>
                                <input type="number" class="form-control" name="experience" required  [(ngModel)]="offer.experience" #experience="ngModel" >
                                <div *ngIf="experience.errors && (experience.dirty || experience.touched)">
                                    <div [hidden]="!experience.errors.required">
                                        <small class="text-danger"> *{{'Experience is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Description' | translate}}</label>
                                <textarea class="form-control" name="description" required  [(ngModel)]="offer.description" #description="ngModel" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" [disabled]="!addOfferForm.form.valid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Offer Modal -->

<!-- Edit Offer Modal -->
<div id="edit_offer" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'Edit Offer' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editOfferForm="ngForm" (submit)="updateOffer()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Title' | translate}}</label>
                                <input type="text" class="form-control" name="title" required  [(ngModel)]="offer.title" #title="ngModel" >
                                <div *ngIf="title.errors && (title.dirty || title.touched)">
                                    <div [hidden]="!title.errors.required">
                                        <small class="text-danger"> *{{'Title is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Domain' | translate}}</label>
                                <select class="form-control" name="domain" required [(ngModel)]="offer.domaine" #domain="ngModel">
                                    <option *ngFor="let D of domains" value="{{D.value}}" [selected]="D.value === offer.domaine">{{D.label}}</option>
                                </select>
                                <div *ngIf="domain.errors && (domain.dirty || domain.touched)">
                                    <div [hidden]="!domain.errors.required">
                                        <small class="text-danger"> *{{'Domain is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Country' | translate}}</label>
                                <input type="text" class="form-control" name="country"  [(ngModel)]="offer.country" #country="ngModel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'City' | translate}}</label>
                                <input type="text" class="form-control" name="city"  [(ngModel)]="offer.city" #city="ngModel" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Address' | translate}}</label>
                                <input type="text" class="form-control" name="address"  [(ngModel)]="offer.address" #address="ngModel" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Postal Code' | translate}}</label>
                                <input type="text" class="form-control" name="postalCode"  [(ngModel)]="offer.postalCode" #postalCode="ngModel" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Salary From' | translate}}</label>
                                <input type="number" class="form-control" name="salaryFrom"  [(ngModel)]="offer.salaryFrom" #salaryFrom="ngModel" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Salary To' | translate}}</label>
                                <input type="number" class="form-control" name="salaryTo"  [(ngModel)]="offer.salaryTo" #salaryTo="ngModel" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Type' | translate}}</label>
                                <select class="form-control" name="type" required [(ngModel)]="offer.type" #type="ngModel">
                                    <option *ngFor="let T of types" value="{{T.value}}" [selected]="T.value === offer.type">{{T.label}}</option>
                                </select>
                                <div *ngIf="type.errors && (type.dirty || type.touched)">
                                    <div [hidden]="!type.errors.required">
                                        <small class="text-danger"> *{{'Type is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Status' | translate}}</label>
                                <select class="form-control" name="status" required [(ngModel)]="offer.status" #status="ngModel">
                                    <option *ngFor="let S of statusList" value="{{S.value}}" [selected]="S.value === offer.status">{{S.label}}</option>
                                </select>
                                <div *ngIf="status.errors && (status.dirty || status.touched)">
                                    <div [hidden]="!status.errors.required">
                                        <small class="text-danger"> *{{'Status is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Start Date' | translate}}</label>
                                <input type="text" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" name="startDate" required [(ngModel)]="offer.startDate" #startDate="ngModel" autocomplete="off">
                                <div *ngIf="startDate.errors && (startDate.dirty || startDate.touched)">
                                    <div [hidden]="!startDate.errors.required">
                                        <small class="text-danger"> *{{'Start Date is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Expired Date' | translate}}</label>
                                <input type="text" class="form-control datetimepicker" bsDatepicker type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" name="expiredDate" required [(ngModel)]="offer.expiredDate" #expiredDate="ngModel" autocomplete="off">
                                <div *ngIf="expiredDate.errors && (expiredDate.dirty || expiredDate.touched)">
                                    <div [hidden]="!expiredDate.errors.required">
                                        <small class="text-danger"> *{{'Expired Date is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Experience (years)' | translate}}</label>
                                <input type="number" class="form-control" name="experience" required  [(ngModel)]="offer.experience" #experience="ngModel" >
                                <div *ngIf="experience.errors && (experience.dirty || experience.touched)">
                                    <div [hidden]="!experience.errors.required">
                                        <small class="text-danger"> *{{'Experience is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Description' | translate}}</label>
                                <textarea class="form-control" name="description" required  [(ngModel)]="offer.description" #description="ngModel" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" [disabled]="!editOfferForm.form.valid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Offer Modal -->

<!-- Delete Offer Modal -->
<div class="modal custom-modal fade" id="delete_offer" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>{{'Delete Offer' | translate}}</h3>
                    <p>{{'Are you sure want to delete' | translate}}?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn" (click)="deleteOffer()">{{'Delete' | translate}}</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">{{'Cancel' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Offer Modal -->