<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-menu">
            <ul>
                <li> 
                    <a href="/entreprise/dashboard/"><i class="la la-home"></i> <span>Back to Home</span></a>
                </li>
                <li class="menu-title">Settings</li>
                <li [ngClass]="{'active' : urlComplete.subUrl === 'company-settings'}"> 
                    <a routerLink = "/entreprise/settings/company-settings"><i class="la la-building"></i> <span>Company Settings</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'localization'}"> 
                    <a routerLink = "/entreprise/settings/localization"><i class="la la-clock-o"></i> <span>Localization</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'theme-settings'}"> 
                    <a routerLink = "/entreprise/settings/theme-settings"><i class="la la-photo"></i> <span>Theme Settings</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'role'}"> 
                    <a routerLink = "/entreprise/settings/role"><i class="la la-key"></i> <span>Roles & Permissions</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'email-settings'}"> 
                    <a routerLink = "/entreprise/settings/email-settings"><i class="la la-at"></i> <span>Email Settings</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'invoice-settings'}"> 
                    <a routerLink = "/entreprise/settings/invoice-settings"><i class="la la-pencil-square"></i> <span>Invoice Settings</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'salary-settings'}"> 
                    <a routerLink = "/entreprise/settings/salary-settings"><i class="la la-money"></i> <span>Salary Settings</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'notifications'}"> 
                    <a routerLink = "/entreprise/settings/notifications"><i class="la la-globe"></i> <span>Notifications</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'change-password'}"> 
                    <a routerLink = "/entreprise/settings/change-password"><i class="la la-lock"></i> <span>Change Password</span></a>
                </li>
                <li  [ngClass]="{'active' : urlComplete.subUrl === 'leave-type'}"> 
                    <a routerLink = "/entreprise/settings/leave-type"><i class="la la-cogs"></i> <span>Leave Type</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Sidebar -->
<!-- Page Wrapper -->
<div class="page-wrapper" (resized)="onResize($event)" [ngStyle]="{ 'height' : innerHeight }">
    <router-outlet></router-outlet>
    </div>
    <!-- /Page Wrapper -->
