<!-- Page Content -->
<div class="content container-fluid">

   <!-- Page Header -->
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">{{'Interview' | translate}}</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">{{'Administration' | translate}}</a></li>
               <li class="breadcrumb-item active">{{'Manage Interview' | translate }}</li>
               <hr>
            </ul>
         </div>
      </div>
      <div class="row mt-3">
         <h4 class="section-title ml-3">{{'Offer title' | translate }} : <u><em class="text-primary">{{offer?.title}}</em></u></h4>
      </div>
   </div>
   <!-- /Page Header -->

   <div class="row filter-row">
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
          <div class="form-group form-focus">
              <input type="text" #title class="form-control floating" (input)="searchByName($event.target.value)">
              <label class="focus-label">{{'Name' | translate}}</label>
          </div>
      </div>
      
  </div>

   <!-- Page Content list -->
   <div class="row">
      <div class="col-md-12">
         <div class="table-responsive">
            <table id="datatable" class="table table-striped custom-table datatable">
               <thead >
                  <tr class="bg-secondary text-white" >
                     <th class="p-3">{{'Candidats' | translate}}</th>
                     <th *ngFor="let i of rangeColumn" class="p-3">{{'Interview' | translate}} {{i}} </th>
                     <th *ngIf="candidats.length!=0" class="p-3">{{'Decision' | translate}}</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let candidat of candidats">

                     <td>
                        <h2 class="table-avatar">
                           <a routerLink="" class="avatar"><img src="assets/img/profiles/avatar-01.jpg" alt=""></a>
                           <a routerLink="/employees/employeeprofile">{{candidat.firstName}} {{candidat.lastName}}
                              <span>{{'Score' | translate}}: {{candidat.score}} % </span></a>
                        </h2>
                        <a id="buttonAdd" *ngIf="isEntrepriseHR()" (click)="handleModalAddInterveiw(candidat.id)" class="btn btn-primary add-interview float-right" placement="top" ngbTooltip="Ajouter un entretien a ce candidat" data-toggle="modal" data-target="#add_interview"><i
                           class="fa fa-plus"></i>
                        </a>
                     </td>

                     <td *ngFor="let interview of candidat.interviews;">
                        <div class="row">
                           <label class="col-md-3 font-weight-bold"> {{'Title' | translate}} : </label>
                           <label class="col-md-7" > {{interview.title}} </label>
                           <label class="col-md-2">
                              <div *ngIf="userConnected==interview.evaluatorId" class="dropdown dropdown-action text-right">
                                 <a class="action-icon dropdown-toggle cursor-pointer" data-toggle="dropdown"
                                     aria-expanded="false"><i class="material-icons">more_vert</i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                     <a class="dropdown-item cursor-pointer" (click)="handleModalEditInterveiw(interview, candidat.id)" data-toggle="modal" data-target="#edit_interview"
                                         ><i class="fa fa-pencil m-r-5"></i>
                                         {{'Edit' | translate }}
                                    </a>
                                     <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#delete_interview" (click)="selectedInterview=interview"
                                         ><i class="fa fa-trash-o m-r-5"></i>
                                         {{'Delete' | translate }}</a>
                                 </div>
                             </div>
                           </label>
                        </div>
                        <div class="row">
                           <label class="col-md-3 font-weight-bold"> {{'Date' | translate }}   : </label>  
                           <label class="col-md-7"> <u> <i class="">{{interview.dateInterview | date:"dd MMMM yyyy, HH'h':mm"}}</i></u> </label>
                           <!-- <input id="date1" class="form-control floating datetimepicker" bsDatepicker type="text"
                              [bsConfig]="{ dateInputFormat: 'dd-MMMM-yyyy',  returnFocusToInput: true }"> -->
                           <label *ngIf="userConnected==interview.evaluatorId" class="cursor-pointer col-md-2" (click)="handleModalEditInterveiw(interview, candidat.id)" data-toggle="modal" data-target="#edit_date" >
                              <img src="https://img.icons8.com/color/23/000000/calendar--v2.png" >
                           </label>         
                        </div>
                        <div class="row">
                           <label placement="top" ngbTooltip="Evaluateur" class="col-md-3 font-weight-bold"> {{'Evaluator' | translate }} : </label>          
                           <label class="col-md-7"> {{interview.evaluatorName}} </label>          
                        </div>
                        <div class="row" >
                              <label (click)="selectedInterview=interview" data-toggle="modal" data-target="#result" class="col-md-3 font-weight-bold cursor-pointer" > {{'Opinion' | translate }} : 
                              </label>
                              <label (click)="selectedInterview=interview" data-toggle="modal" data-target="#result" class="col-md-7 cursor-pointer" *ngIf="interview.result=='not yet'"> <i class="mx-3">--</i> </label>
                              <label (click)="selectedInterview=interview" data-toggle="modal" data-target="#result" class="col-md-7 cursor-pointer" *ngIf="interview.result=='positive'"> <i class="fa fa-dot-circle-o text-success"></i> <span style="color: green;"> {{'Favorable' | translate}} </span> </label>
                              <label (click)="selectedInterview=interview" data-toggle="modal" data-target="#result" class="col-md-7 cursor-pointer" *ngIf="interview.result=='negative'"> <i class="fa fa-dot-circle-o text-danger"></i> <span style="color: red;"> {{'Unfavorable' | translate}}</span>  
                              </label>
                              <!-- (click)="selectedInterview=interview" -->
                           <label *ngIf="userConnected==interview.evaluatorId" class="col-md-2" placement="top" ngbTooltip="Modifier le resultat d'entretien" (click)="selectedInterview=interview" 
                           data-toggle="modal" data-target="#edit_result">
                              <i  class="la la-edit btn edit_resultat"></i>
                        </label> 

                        </div>

                     </td>

                     <td *ngFor="let i of Arr(rangeColumn.length - candidat.interviews.length).fill(1)" ></td>

                     <td>
                        <div class="row">
                           <a *ngIf="candidat.hiring=='not yet'" class="col-md-8 notyet-hiring"><i class="la la-clock"></i> -- </a>
                           <a *ngIf="candidat.hiring=='yes'" class="col-md-8 text-success"><i class="fa fa-check text-success"></i> {{'Favorable' |translate }}</a>
                           <a *ngIf="candidat.hiring=='no'" class="col-md-8 text-danger"><i class="fa fa-close text-danger"></i> {{'Unfavorable' | translate}}</a>

                           <label *ngIf="isEntrepriseHR() || isEntrepriseManager()" class="col-md-2" placement="top" ngbTooltip="Modifier la decision" (click)="selectedCandidat=candidat" data-toggle="modal" data-target="#edit_hiring">
                              <i  class="la la-edit btn edit_resultat"></i>
                           </label> 
                        </div>
                     </td>

                  </tr>
                  <tr *ngIf="candidats.length==0">
                     <td class="text-danger text-center"> &#60; {{'No data availible' | translate }} !! &#62; </td>
                  </tr>

               </tbody>
            </table>

         </div>
      </div>
   </div>
   <!-- End Page Content list -->

</div>

<!-- Add Interview Modal -->
<div id="add_interview" class="modal custom-modal fade" role="dialog">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">{{'Add interview' | translate }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">

            <!-- form add interview -->

            <form #addInterviewForm="ngForm" (ngSubmit)="addInterview(addInterviewForm.value)">
               <div class="form-group">
                  <label>{{'Interview title' | translate}} <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="title" ngModel >
               </div>

               <div class="form-group">
                  <label>{{'Interview date' | translate}} <span class="text-danger">*</span></label>
                  <input id="dateInterview" class="form-control floating datetimepicker" bsDatepicker type="text"
                     [minDate]="minDate"
                     [bsConfig]="{ dateInputFormat: 'DD, MMMM, YYYY',  returnFocusToInput: true, isAnimated: true }" name="date" ngModel>
               </div>

               <div class="form-group">
                  <label>{{'Interview time' | translate}} <span class="text-danger">*</span></label>
                  <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{ standalone : true }"></ngb-timepicker>
               </div>
               
               <div class="form-group">
                  <label class="control-label">{{'Select evaluator' | translate}} <span class="text-danger">*</span></label>
                  <select id="evaluator" class="select form-control" name="evaluatorId" ngModel>
                     <option *ngFor="let user of allUsers" value="{{user.id }}">{{user.firstName}} {{user.lastName}}</option>
                  </select>
               </div>

               <div class="submit-section">
                  <button type="submit" class="btn btn-primary submit-btn">{{'Save' | translate}}</button>
               </div>
            </form>
            <!-- end form add interview -->
         </div>
      </div>
   </div>
</div>
<!-- / End Add Interview Modal -->

<!-- Delete Interview Modal -->
<div class="modal custom-modal fade" id="delete_interview" role="dialog">
   <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
           <div class="modal-body">
               <div class="form-header">
                   <h3>{{'Delete interview' | translate}}</h3>
                   <p>{{'Are you sure you want to delete' | translate}}? </p>
               </div>
               <div class="modal-btn delete-action">
                   <div class="row">
                       <div class="col-6">
                           <a id="del" class="btn btn-primary continue-btn"
                               (click)="deleteInterview()">{{'Delete' | translate}}</a>
                       </div>
                       <div class="col-6">
                           <a  data-dismiss="modal"
                               class="btn btn-primary cancel-btn">{{'Cancel' | translate}}</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- /Delete Interview Modal -->


<!-- edit Interview Modal -->
<div id="edit_interview" class="modal custom-modal fade" role="dialog">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">{{'Edit interview' | translate}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">

            <!-- form edit interview -->

            <form #editInterviewForm="ngForm" (ngSubmit)="editInterview(editInterviewForm.value)">
               <div class="form-group">
                  <label>{{'Interview title'}} <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" [(ngModel)]="selectedInterview.title" name="title" ngModel >
               </div>

               <div class="form-group">
                  <label> {{'New interview date' | translate}} <span class="text-danger">*</span></label>
                  <input class="form-control floating datetimepicker" bsDatepicker type="text"
                     [bsConfig]="{ dateInputFormat: 'DD, MMMM, YYYY',  returnFocusToInput: true, isAnimated: true }" [minDate]="minDate" [bsValue]="dateForEdit" name="date" ngModel>
               </div>

               <div class="form-group">
                  <label>{{'Interview time' | translate }} <span class="text-danger">*</span></label>
                  <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{ standalone : true }"></ngb-timepicker>
               </div>
               
               <div class="form-group">
                  <label class="control-label">{{'Select evaluator' | translate }} <span class="text-danger">*</span></label>
                  <select id="eval" class="select form-control" [(ngModel)]="selectedInterview.evaluatorId" name="evaluator" ngModel>
                     <option *ngFor="let user of allUsers" value="{{user.id}}" [selected]="user.id==selectedInterview.evaluatorId" >{{user.firstName}} {{user.lastName}}</option>
                  </select>
               </div>

               <div class="submit-section">
                  <button type="submit" class="btn btn-primary submit-btn">{{'Edit' | translate}}</button>
               </div>
            </form>
            <!-- end form edit interview -->
         </div>
      </div>
   </div>
</div>
<!-- /edit Event Modal -->

<!-- Edit result interview modal -->
<div id="edit_result" class="modal custom-modal fade" role="dialog">
   <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title">{{'Interview result' | translate}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#add_leave">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <form #result_form="ngForm" (ngSubmit)="edit_result(result_form.value)">
                   <div class="form-group">
                       <label>{{'Interview result' | translate}} <span class="text-danger">*</span></label>
                       <select class="select form-control cursor-pointer" [(ngModel)]="selectedInterview.result" name="result" ngModel>
                           <option value="not yet"> {{'Not yet' | translate}} </option>
                           <option value="positive">{{'Favorable' | translate}}</option>
                           <option value="negative">{{'Unfavorable' | translate}}</option>
                       </select>
                   </div>
                   <div class="form-group">
                       <label>{{'Description of the result' | translate}} <span class="text-danger">*</span></label>
                       <textarea rows="6" class="form-control" name="resultDescription" [(ngModel)]="selectedInterview.resultDescription" ngModel> </textarea>
                   </div>
                   <div class="submit-section">
                       <button class="btn btn-primary submit-btn" type="submit">{{'Save' | translate}}</button>
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>
<!-- /Edit result interview modal -->

<!-- result interview -->
<div class="modal" id="result">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">{{'Evaluator Opinion' | translate}}</h4>
         <button class="close" data-dismiss="modal">&times;</button>
       </div>
       <div *ngIf="selectedInterview.resultDescription==null" class="modal-body">
         {{'Not yet written' | translate}} !!
       </div>
       <div class="modal-body">
         {{selectedInterview.resultDescription}}
       </div>
       <div class="modal-footer">
         <button class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate}}</button>
       </div>
       
     </div>
   </div>
 </div>
 <!-- /result interview -->


<!-- Edit hiring interview modal -->
<div id="edit_hiring" class="modal custom-modal fade" role="dialog">
   <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title">{{'Edit hiring decision'}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#add_leave">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <form #result_form="ngForm" (ngSubmit)="edit_hiring()">
                   <div class="form-group">
                       <label>{{'Hiring decision' | translate}} <span class="text-danger">*</span></label>
                       <select class="select form-control cursor-pointer" [(ngModel)]="selectedCandidat.hiring" name="hiring" ngModel>
                           <option value="not yet"> {{'Not yet' | translate}} </option>
                           <option value="yes">{{'Favorable' | translate}}</option>
                           <option value="no">{{'Unfavorable' | translate}}</option>
                       </select>
                   </div>
                   <div class="submit-section">
                       <button class="btn btn-primary submit-btn" type="submit">{{'Save' | translate}}</button>
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>
<!-- /Edit hiring interview modal -->


<!-- edit Interview Modal -->
<div id="edit_date" class="modal custom-modal fade" role="dialog">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">{{'Edit interview date' | translate}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">

            <!-- form edit interview -->

            <form #editInterviewForm="ngForm" (ngSubmit)="editInterview(editInterviewForm.value)">

               <div class="form-group">
                  <label> {{'Interview date' | translate}} <span class="text-danger">*</span></label>
                  <input class="form-control floating datetimepicker" bsDatepicker type="text"
                     [bsConfig]="{ dateInputFormat: 'DD, MMMM, YYYY',  returnFocusToInput: true, isAnimated: true }" [minDate]="minDate" [(bsValue)]="dateForEdit" name="date" ngModel>
               </div>

               <div class="form-group">
                  <label>{{'Interview time' | translate}} <span class="text-danger">*</span></label>
                  <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{ standalone : true }"></ngb-timepicker>
               </div>
            
               <div class="submit-section">
                  <button type="submit" class="btn btn-primary submit-btn">{{'Update' | translate}}</button>
               </div>
            </form>
            <!-- end form edit interview -->
         </div>
      </div>
   </div>
</div>
<!-- /edit Event Modal -->
