/* .form-control {
  height: 34px;
  display: inline-block;
  width: 50%;
} */
table,
td,
th {
  border: 2px solid rgb(219, 217, 217);
}

table th {
  text-align: center;
}

.add-interview {
  padding: 0 5px;
}
.edit_resultat {
  font-size: 18px;
  padding: 0;
  background-color: #686c85;
  border: 1px solid #3e4f68;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}
.edit_resultat:hover {
  background-color: #4d5c64;
}
.notyet-hiring {
  font-size: 22px;
  color: rgb(185, 175, 24);
  font-weight: bold;
}
.notyet-hiring:hover {
  color: rgb(185, 175, 24);
}
.table {
  border-collapse: collapse;
  empty-cells: show;
  min-width: max-content;
  white-space: nowrap;
}

.table tr td {
  min-width: min-content;
}
