<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome {{userInformations.given_name}}!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Entreprise Informations</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card mb-0" style="height: 160px;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{entreprise.name}}</h3>
                                        <h6 class="text-muted">{{entreprise.description}}</h6>
                                        <div class="staff-id">---</div>
                                        <div class="small doj text-muted">Date of Join : {{entreprise.createdDate | date: 'dd-MM-yyyy'}}</div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="title">Phone:</div>
                                            <div class="text">{{entreprise.phone}}</div>
                                        </li>
                                        <li>
                                            <div class="title">Email:</div>
                                            <div class="text">{{entreprise.email}}</div>
                                        </li>
                                        <li>
                                            <div class="title">Address:</div>
                                            <div class="text">{{entreprise.country}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pro-edit"><a data-target="#edit_entreprise" data-toggle="modal" class="edit-icon"><i
                                    class="fa fa-pencil"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isAccepted">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
        <div class="alert alert-info alert-dismissible" style="font-size: large;"><strong>Votre demande est encore en traitement !!</strong></div>
    </div>

</div>
<!-- /Page Content -->

<!-- Entreprise Modal -->
<div id="edit_entreprise" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Entreprise Informations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editentrepriseForm="ngForm" (submit)="updateEntreprise()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-img-wrap edit-img">
                                <img class="inline-block" src="assets/img/profiles/avatar-02.jpg" alt="user">
                                <div class="fileupload btn">
                                    <span class="btn-text">edit</span>
                                    <input class="upload" type="file">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name" required maxlength="50" [(ngModel)]="entreprise.name" #name="ngModel" >
                                        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                            <div [hidden]="!name.errors.required">
                                                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Name is required !
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required maxlength="50" [(ngModel)]="entreprise.email" #email="ngModel" >
                                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                                            <div [hidden]="!email.errors?.pattern">
                                                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Invalid email !
                                            </div>
                                            <div [hidden]="!email.errors.required">
                                                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Email is required !
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" name="phone" pattern="(\+212|0)([ \-_/]*)(\d[ \-_/]*){9}" required maxlength="50" [(ngModel)]="entreprise.phone" #phone="ngModel" >
                                        <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                                            <div [hidden]="!phone.errors?.pattern">
                                                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Invalid phone number !
                                            </div>
                                            <div [hidden]="!phone.errors.required">
                                                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Phone is required !
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" name="country" maxlength="200" [(ngModel)]="entreprise.country" #country="ngModel" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text" class="form-control" name="description" maxlength="200" [(ngModel)]="entreprise.description" #description="ngModel" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible" id="msg" style="display:none;"></div>
    
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn" [disabled]="!editentrepriseForm.form.valid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>